.inventory-form {
	wdth: 380px;
	margin: 40px auto;
	padding: 25px;
	background: #f9fafc;
	border-radius: 10px;
}

.inventory-form label {
	display: block;
	margin-top: 12px;
	font-weight: 600;
}

.inventory-form input,
.inventory-form select {
	width: 100%;
	padding: 8px;
	margin-top: 6px;
	border: 6px;
	border: 1px solid #ccc;
	border-radius: 4px;
}